*{
	padding:0;
	margin::0;
	box-sizing:border-box;
}
.main{
	display:flex;
	align-items:center;
	justify-content:space-around;
	height:100vh;
}
.main > div{
	position:relative;
}
.input{
	position:absolute;
	bottom:10px;
	left:50%;
	transform:translateX(-50%);
}
.container{
	height:300px;
	width:250px;
	background-color:#ffffff;
	border-radius:5px;
	box-shadow:10px 10px 40px rgba(60, 60, 150, 0.25);
	display:flex;
	align-items:center;
	justify-content:center;
}
.circular-progress{
	position:relative;
	width:200px;
	height:200px;
	background-color:lightblue;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.circular-progress:before{
	content:"";
	position:absolute;
	height:84%;
	width:84%;
	background-color:#ffffff;
	border-radius:50%;	
}
.value-container{
	color:black;
	font-size:2.5rem;
	font-weight:bold;
	z-index:2;
}
.input-container{
	position:absolute;
	bottom:10px;
}
.input{
	border-radius:2px;
}